@model wave_application.Models.Injection

<!-- Modal -->
<div class="modal fade" id="ModalInjection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Remplir les champs</h3>
                   
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> 
                </button>
            </div>
           
            <div class="modal-body">
                <form asp-action="Injection" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Operateur" class="control-label"></label>
                        <input asp-for="Operateur" class="form-control" required autocomplete="off" />
                        <span asp-validation-for="Operateur" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Of" class="control-label"></label>
                        <input asp-for="Of" class="form-control" autocomplete="off" min="0" />
                        <span asp-validation-for="Of" class="text-danger"></span>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" name="valider" value="Valider" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



