@model wave_application.Models.Injection

@{
    ViewData["Title"] = "Débloquer Palette";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Erreur : </strong>@TempData["AlertMessage"]
    </div>
}
@if (TempData["SuccesMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Succès : </strong>@TempData["SuccesMessage"]
    </div>
}
<h1>Débloquer une Palette</h1>

<hr />
<div class="row" id="formulaireS">
    <div class="col-md-6">
        <form asp-action="DebloquerPalette">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Operateur" class="control-label"></label>
                <input asp-for="Operateur" class="form-control" autocomplete="off" />
                <span asp-validation-for="Operateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Of" class="control-label"></label>
                <input asp-for="Of" class="form-control" />
                <span asp-validation-for="Of" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Carton" class="control-label"> De 1</label>
                <input asp-for="Carton" class="form-control" value="1" min="1" />
                <span asp-validation-for="Carton" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Carton à </label>
                <input class="form-control" type="number" name="cartonFin" value="1" min="1" />
            </div>

            <div id="buttonForm">
                <a class="btn btn-primary" asp-controller="Verify" asp-action="Verify">Retour</a>
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>